@import "tailwindcss";


:root {
  --primary-color: #B26E63;
  --primary-dark: #654C4F;
  --secondary-color: #437C90;
  --accent-color: #275e5c;
  --text-color: #3d3d3d;
  --light-text: #888888;
  --background: #f8f8f8;
  --section-bg: #f8f8f8;
  --card-bg: #ffffff;
  --gradient-start: #f8f8f8;
  --gradient-end: #ffffff;
  --nav-bg: #f8f8f8;
  --card-border: #f8f8f8;
}


body {
  line-height: 1.6;
  color: var(--text-color);
  background: var(--background);
  font-weight: 500;
}

.app {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  width: 100%;
  min-height: 100vh;
}

.app.loaded {
  opacity: 1;
  transform: translateY(0);
}

.navbar {
  background: var(--nav-bg);
}


.nav-links {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
  transition: all 0.3 ease;
  position: relative;
  cursor: pointer;
}

.nav-links a::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--primary-color);
  transition: width 0.3s ease;
}

/* .nav-links a:hover {
  color: var(--accent-color);
} */

.nav-links a:hover::after {
  width: 100%;
}

/* Hero Section */

/* .hero-content {
  text-align: left;
  max-width: 600px;
  position: relative;
} */


.code-snippet-container {
  width: 100%;
}


.social-links a:hover {
  color: var(--secondary-color);
}

/* .hero-image-container {
  max-width: 600px;
} */

.hero-image {
  width: 100%;         
  max-width: 380px; /* desired max width on small screens */
  height: auto; /* preserve aspect ratio */
  object-fit: cover;    
}

.pmp {
  max-width: 380px;
}


/* larger screens: allow a bigger image */
@media (min-width: 768px) {
  .hero-image {
    max-width: 420px;
  }
  
}

.code-display {
  width: 100%;
}

/* Projects Sections */

.project-card {
  background: var(--card-bg);
  transition: all 0.3 ease;
  border: 1px solid var(--card-border);
}

.project-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    135deg,
    var(--gradient-start) 0%,
    var(--gradient-end) 100%
  );

  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.project-card:hover::before {
  opacity: 0.1;
}

.project-card:hover {
  transform: translateY(-10px) scale(1.03);
  cursor: pointer;
  /* box-shadow: 0 8px 30px #dbdbdb */
  /* border-color: var(--secondary-color); */
  
}

.project-image {
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.project-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 0%,
    #f8f8f8 50%,
    transparent 100%
  );
  transform: translateX(-100%);
  transition: transform 0.6s ease;
}

.project-card:hover .project-image::after {
  transform: translateX(100%);
}

.project-card h3 {
  padding: 1.5rem 1.5rem 0.5rem;
  font-size: 1.4rem;
  color: var(--text-color);
}

.project-card p {
  padding: 0 1.5rem 1rem;
  color: var(--light-text);
  flex-grow: 1;
}

.project-tech {
  padding: 0 1.5rem 1.5rem;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.project-tech span {
  padding: 0.3rem 0.8rem;
  background: #ffffff;
  border-radius: 50px;
  font-size: 0.8rem;
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}


.tableauViz {
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
border: none;
}

.breadcrumbs:hover {
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.tag {
  color: var(--accent-color);
}

.pdf-wrapper canvas {
  width: 100% !important;
  height: auto !important;
}


/* Hero Media Queries */

@media (max-width: 1024px) {
  /* .hero-container {
    flex-direction: column;
    text-align: center;
    padding-top: 120px;
  } */

  /* .hero-content {
    max-width: 100%;
  } */

 .pmp {
  max-width: 330px;
}


}

/* @media (max-width: 768px) {
  .hero-image-container {
    display: none;
  }
} */


.footer {
  text-align: center;
  background: var(--background);
  color: var(--text-color);
}
